<div class="widget_complete">
  <span class="widget_complete_top"></span>
    <h2 class="widget_compelete_title">New Forum Topic</h2>
    <%= render :partial => 'form' %>
  <span class="widget_complete_btm"></span>
</div>