<h2 class="page_title"> <%= SITE_NAME %>  Forums
  <%= link_to image_tag('add_new_post.png', 
                                :title=>"Create New Forum", 
                                :class=>"add_new_post2"), 
                      new_forum_path if @u.is_admin? %>
</h2>
<% if @forums.empty? %>
  <div class="widget_complete">
    <div class="comments"><%= SITE_NAME %> has no forums.</div>
    <span class="widget_complete_btm"></span>
  </div>
<% else %>
  <div class="widget_complete">
    <span class="widget_complete_top"></span>
    <h3 class="forum_head"> Forum 
      <span class="posts">Posts</span>
      <span class="last_post">Last Post</span>
    </h3>
    <%= render :partial => 'forum', :collection => @forums%>
    <div class="clear_div"></div> 
    <span class="widget_complete_btm"></span>
  </div>

<% end %>

