<div class="widget_complete">
  <span class="widget_complete_top"></span>
  <h2 class="widget_compelete_title">New Eevnt</h2>
  <% form_for @event, :url => admin_events_path, :html => {:method=>:post, :class=>" "} do |f| %>
     <%= render :partial => 'form',:locals => { :f => f } %>
    <div>
      <button class="buttons gmap" type="submit">
        <%= theme_image("save.png") %>
      </button>
    </div>
  <% end %>
<span class="widget_complete_btm"></span>
</div>
