<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Daily Signup Users Report</title>
  </head>

  <body>
    <div align="left" width="700px">
      <h3>Daily Signup  Report</h3>
      <table border ="1">
        <tr align ="center">
          <th>Name</th>
          <th>Group</th>
          <th>Actived</th>
          <th>Email Confirmed</th>
        </tr>
        <% @profiles.each do |p|%>
          <tr align ="center">
            <td><%= p.full_name %></td>
            <td><%= p.group %></td>
            <td><%= p.is_active ? 'Activated' : 'Deactivated'  %></td>
            <td><%= p.user.email_verified ? 'Confirmed' : 'Not Confirmed'%> </td>
          </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>