<% rounded_corner(:title => "Invite Batchmates") do %>
  <div class="edit_panel_profile">
    <%= msg_profile_block %>
    <p><%= link_to "Invite More Friends", new_profile_invitation_path(@p) %></p>
  </div>
<% end %>
