<% content_for :head do  -%>
  <%= auto_discovery_link_tag :rss, profile_blogs_url(@profile, :rss), :title=>"#{@profile.full_name}'s Polls" %>
<% end -%>

<div>
  <h2 class="page_title">
    <%= @profile.full_name %>'s poll
    <%= link_to image_tag('add.png', :title=>"Add New Post", :class=>"add_new_post2"), 
                new_profile_poll_path(@profile)  if @p == @profile %>
  </h2>
  <%= render :partial => 'polls/poll',:locals => {:poll => @poll} %>
</div>
