<% @house_names = HouseName.find_house_names %>

<div class="widget_large">
  <span class="widget_lrg_top"></span>
  <div class ="admin_class">
    <h2 class="widget_title">House Name</h2>
    <div id ="house_name">
      <% @house_names.each do |house_name| %>
        <div class = "preference_key"> <%= house_name.name %></div> 
        <div class = "delete_title"> <%= link_to_remote image_tag('delete.png'), :url => delete_house_name_admin_preference_path(house_name.id), 
                                                                                 :method => :delete %></div>
      <% end %> 
      <%= link_to_remote image_tag('add-button.png',:title => "Add"),  :url => new_house_name_admin_preferences_path,:method =>:get%> 
      <%= link_to_remote 'Edit', :url => edit_house_name_admin_preferences_path, :method => :get %>
    </div>
  </div> 
  <div class="clear_div"></div>     
  <span class="widget_lrg_btm"></span>
</div>
