<% form_for(:title, @title, :url => add_title_admin_preferences_path, :html =>{:method => :put}) do |t| %>
  <%= t.labelled_text_field "Name", :name, :title => "Title",:class => "text_field", :wrap_class => :row_complete %>
  <button class="buttons" type ="submit" >
    <%= image_tag('save.png')%>
  </button>
<% end %>