<% rounded_corner(:title => 'Forgot Password' + image_tag("help.png", :title => "Help", :class => "help")) do %>
  <div class="edit_panel_profile">
    <% form_for Profile.new, :url => login_path, :method => :post do |f| %>
      <% f.label_class = 'label_margin' %>
      <p>A new password will be generated and sent to this email address.</p>
      <%= f.labelled_text_field("Email", :email, :wrap_class => :row_dark) %>    
      <button class="buttons" type ="submit" name="new_password">
        <%= theme_image("new-password.png") %>
      </button>
    <% end %>
  </div>
<% end %>